@model CodigoLimpio.Models.Impactos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Impactos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreImpacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreImpacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImpactoDepartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImpactoDepartamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdImpactos }) |
    @Html.ActionLink("Back to List", "Index")
</p>
