@model CodigoLimpio.Models.Emprendimientos4RI

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Emprendimientos4RI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Emprendimientos.NombreEmprendimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emprendimientos.NombreEmprendimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Herramientas4RI.NombreHerramientas4RI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Herramientas4RI.NombreHerramientas4RI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdEmprendimientos4RI }) |
    @Html.ActionLink("Back to List", "Index")
</p>
