@model IEnumerable<CodigoLimpio.Models.Emprendimientos4RI>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Emprendimientos.NombreEmprendimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Herramientas4RI.NombreHerramientas4RI)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Emprendimientos.NombreEmprendimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Herramientas4RI.NombreHerramientas4RI)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdEmprendimientos4RI }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdEmprendimientos4RI }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdEmprendimientos4RI })
        </td>
    </tr>
}

</table>
