@model IEnumerable<CodigoLimpio.Models.Emprendimientos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreEmprendimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InversionRequerida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IngresosProyectados)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InversionInfraestructura)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreEmprendimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InversionRequerida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngresosProyectados)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InversionInfraestructura)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdEmprendimientos }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdEmprendimientos }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdEmprendimientos })
        </td>
    </tr>
}

</table>
